@font-face {
  font-family: "apercu_problack";
  src: url("../assets/fonts/apercupro-black-webfont.woff2") format("woff2"),
    url("../assets/fonts/apercupro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu_promedium";
  src: url("../assets/fonts/apercupro-medium-webfont.woff2") format("woff2"),
    url("../assets/fonts/apercupro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "apercu_proregular";
  src: url("../assets/fonts/apercupro-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/apercupro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg: #101014;
  --dark: #070707;
  --light: #f5f5f5;
  --primary: #ff80bd;
  --primary-dark: #ea3089;
  --primary-hover: #ff9ccc;
  --cards: #16171d;
  --text-color: #f5f5f5;
  --heading-color: #f8f8f8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  font-family: "apercu_proregular", Arial, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  width: 100vw;
  color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 2rem;
}

.hero-box {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

p {
  font-size: 1.3rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.heading {
  font-size: 2rem;
  max-width: 600px;
  letter-spacing: -0.045em;
  line-height: 1.1;
  font-weight: 600;
  align-items: start;
  transition: 0.2s color;
}

.subHeading {
  font-size: 18px;
  font-weight: 500;
  max-width: 200px;
  color: #f5f5f5;
  transition: 0.2s color;
  padding: 0.5rem;
}

.text-transition {
  color: white;
  transition: 0.2s color;
}

p {
  color: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "apercu_promedium", Arial, sans-serif;
  font-weight: 500;
  color: var(--primary-hover);
}
