.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.starryBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.moon {
  width: 13rem;
  height: 12rem;
  transform: rotate(25deg);
  flex-shrink: 0;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1000;
}

.star {
  fill: white;
  animation: shine 1.5s infinite alternate;
}

.star.delay-1 {
  animation-delay: 0.5s;
}

.star.delay-2 {
  animation-delay: 1s;
}

@keyframes shine {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.tree {
  position: absolute;
  bottom: 248px;
  right: 0;
  z-index: 2;
  width: 190px;
  height: 360px;
}

.background {
  width: 200%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.largeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/grass-3.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.grassBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 248px;
  background-image: url("/images/grass-3.svg");
  background-size: cover;
  background-position: bottom;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .tree {
    width: 150px;
    height: 270px;
  }

  .moon {
    width: 10rem;
    height: 9rem;
  }
}
