.textTransition {
  color: var(--text-color);
  transition: 0.2s color;
  padding: 0.5rem;
}

.containerAbout {
  position: relative;
  max-width: 1376px;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: 0.2s background-color;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

#about {
  position: absolute;
  top: 60px;
  transition: 0.2s color, 0.2s font-size;
}

.heading {
  font-size: 2rem;
  letter-spacing: -0.045em;
  line-height: 1.1;
  font-weight: 600;
  transition: 0.2s color;
  margin-bottom: 12px;
}

.subHeading {
  font-size: 18px;
  font-weight: 500;
  max-width: 200px;
  color: #f5f5f5;
  transition: 0.2s color;
  padding: 0.5rem;
}
